<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> خطای 404 </title>
	<link type="text/css" href="css/bootstrap-rtl.css" rel="stylesheet" />
	<link type="text/css" href="css/style.css" rel="stylesheet" />
</head>
<body>
	<div class="error">
		<div class="container-floud">
			<div class="col-12 ground-color text-center">
				<div class="container-error-404">
					<div class="clip"><div class="shadow"><span class="digit firstDigit"></span></div></div>
					<div class="clip"><div class="shadow"><span class="digit secondDigit"></span></div></div>
					<div class="clip"><div class="shadow"><span class="digit thirdDigit"></span></div></div>
				</div>
				<br>
				<br>
				<h2 class="h1">صفحه مورد نظر یافت نشد!</h2>
			</div>
		</div>
		<div class="footer-text">
			<p>سامانه مدیریت دانش</p>
		</div>
	</div>
	<script  src="js/scripts.js"></script>
	<style>
        .footer-text {
            position: absolute;
            bottom: 10px;
            width: 100%;
            text-align: center;
            font-size: 14px;
            color: #666;
        }
    </style>
</body>
</html>
