@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<script src="~/app/nodak/common/permission/permission.dto.js"></script>
<script src="~/app/nodak/common/permission/permission.js"></script>
<script src="~/app/nodak/common/permission/permission.mapper.js"></script>
<script src="~/app/nodak/common/permission/permission.tree.js"></script>
<script src="~/app/nodak/common/permission/permission.service.js"></script>
<script src="~/app/nodak/common/permission/permission.lookup.js"></script>
<script src="~/app/nodak/common/permission/permission.selector.controller.js"></script>

<script src="~/app/nodak/common/organization/organization.dto.js"></script>
<script src="~/app/nodak/common/organization/organization.js"></script>
<script src="~/app/nodak/common/organization/organization.service.js"></script>
<script src="~/app/nodak/common/organization/organization.mapper.js"></script>
<script src="~/app/nodak/common/organization/organization.selector.controller.js"></script>
<script src="~/app/nodak/common/organization/organization.tree.js"></script>
<script src="~/app/nodak/common/organization/organization.lookup.js"></script>

<script src="~/app/nodak/common/enterprisePosition/enterprisePosition.dto.js"></script>
<script src="~/app/nodak/common/enterprisePosition/enterprisePosition.js"></script>
<script src="~/app/nodak/common/enterprisePosition/enterprisePosition.service.js"></script>
<script src="~/app/nodak/common/enterprisePosition/enterprisePosition.tree.js"></script>
<script src="~/app/nodak/common/enterprisePosition/enterprisePosition.selector.controller.js"></script>
<script src="~/app/nodak/common/enterprisePosition/enterprisePosition.lookup.js"></script>

<script src="~/app/nodak/common/test.js"></script>

<script src="~/app/nodak/common/enterprisePositionPost/enterprisePositionPost.dto.js"></script>
<script src="~/app/nodak/common/enterprisePositionPost/enterprisePositionPost.js"></script>
<script src="~/app/nodak/common/enterprisePositionPost/enterprisePositionPost.mapper.js"></script>
<script src="~/app/nodak/common/enterprisePositionPost/enterprisePositionPost.service.js"></script>
<script src="~/app/nodak/common/enterprisePositionPost/enterprisePositionPost.search.model.js"></script>
<script src="~/app/nodak/common/enterprisePositionPost/enterprisePositionPost.grid.js"></script>
<script src="~/app/nodak/common/enterprisePositionPost/enterprisePositionPost.controller.js"></script>
<div ng-controller="common.enterprisePositionPost.controller as ctrl">



    <div class="card">
        <div class="card-header">
            <action-panel operation="ctrl.actionPanel"></action-panel>

        </div>
        <div class="card-body">

            <div class="form-group">
                <input type="text" ng-model="ctrl.currentEntity.Title" class="form-control" placeholder="عنوان" required />
                <input type="text" ng-model="ctrl.currentEntity.Description" class="form-control" placeholder="توضیحات" required />
            </div>
            <div class="form-group">
                سازمان:<labxand-lookup operation="ctrl.organizationLookup"></labxand-lookup>
            </div>

            <div class="form-group">
                چارت سازمانی:<labxand-lookup operation="ctrl.enterprisePositionLookup"></labxand-lookup>
            </div>
            <div class="form-group">
                دسترسی ها
                <labxand-tree base="ctrl.PermissionTree" Id="PermissionTree1"></labxand-tree>
            </div>
        </div>


        <!--/.col-->
        <!--/.col-->

    </div>




    <div class="row">
        <div class="col-sm-12 ">

            <div class="card">
                <div class="card-body">
                    <button class="kmsUpdateBtn" ng-show="ctrl.gridEntity.SelectedRow != null" ng-click="ctrl.Edit()">ویرایش</button>
                    <grid base="ctrl.gridEntity" id="EnterprisePositionPostGrid"></grid>
                </div>
            </div>
        </div>
    </div>


</div>


